@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

.slider{
  max-width: 1000px;
  max-height: 100%;
  display: flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #00a896;
}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 5px solid #F0F3BD;
  border-radius: 25px;

}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #264653;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #05668d;
  color: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}

@media screen and (max-width: 600px) {
    .slider .card{
      display: block;
      margin-bottom: 20px;
    }
  }
